# Entornos Virtuales
venv/
env/
.venv/
ENV/

# Archivos de Bytecode de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Base de Datos
db.sqlite3
*.sqlite3
*.db

# Archivos de Dependencias
*.egg-info/
pip-wheel-metadata/

# Archivos de Django
.env
staticfiles/
media/

# Archivos de Logs
logs/
*.log

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDEs/Editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de Cobertura de Pruebas
.coverage
.coverage.*
htmlcov/