.modal {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-visible {
    display: flex;
}

.modal-contenido {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.mundial-modal-contenido {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    position: relative;
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.modal.is-visible .mundial-modal-contenido {
    transform: scale(1);
}

.mundial-modal-contenido .lightbox-close {
    color: #333;
}

.mundial-modal-body {
    display: flex;
    gap: 25px;
    text-align: left;
}

.mundial-modal-col-30 {
    flex: 3;
}
.mundial-modal-col-70 {
    flex: 7;
}

#mundial-modal-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

#mundial-modal-nombre {
    margin-top: 0;
    color: #0d6a40;
}

.lightbox-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.lightbox-close:hover {
    color: #bbb;
}