<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutBOX - Gestionar Categorías</title>
    <link rel="stylesheet" href="{% static 'pw2/css/BarraNavegacion.css' %}">
    <link rel="stylesheet" href="{% static 'pw2/css/PaginaPrincipal.css' %}">
    <link rel="stylesheet" href="{% static 'pw2/css/Formulario.css' %}">
</head>
<body>
    <nav class="barra">
        <div class="logo">
            <a href="{% url 'pw2:index' %}"><img src="{% static 'pw2/images/LogoFutBOX.png' %}" alt="LogoPagina"></a>
        </div>
    </nav>
    <main class="pantallaprincipal-form">
        <div class="form-container">
            <h1>Gestionar Categorías</h1>
            <div id="categorias-list"></div>
        </div>
    </main>
    <script src="{% static 'pw2/js/api/api.js' %}"></script>
    <script src="{% static 'pw2/js/api/auth.js' %}"></script>
    </body>
</html>